* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'montserrat';
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: rgb(44, 41, 41);
    display: flex;
    align-items: center;
    justify-content: center;
}

#center {
    height: 80%;
    width: 70%;
    position: relative;
}

#center .image-container {
    overflow: hidden;
    height: 100%;
    width: 0%;
    position: absolute;
    left: 70px;
}

img {
    height: 100%;
    object-fit: cover;
}

.text {
    height: 80px;
    width: 400px;
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 1;
    overflow: hidden;
}

.text h1 {
    font-size: 50px;
    position: absolute;
    color: white;
    top: 100%;
}

