* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'montserrat';
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: rgb(179, 178, 178);
    display: flex;
    align-items: center;
    justify-content: center;
}

#center {
    height: 80%;
    width: 70%;
    background-color: aqua;
}